*{
	margin: 0px;
	padding: 0px;
}

.body{
	
}

.nav{
	background-color: black;
	height: 100px;
	border-radius: 00px;
	z-index: -1;
	opacity: 0.7;
}
 .nav img{
 	padding-left: 10px;
 }



.header{
	
	height: 20px;
	
	width: 700px;
	float: right;
}




 ul{
	float: right;
	font-size: 20px;
	overflow: auto;
	display: flex;

}


 ul,li{
	text-decoration: none;
	display: inline-block; 
	padding: 4px 18px;
	border-radius: 20px;
	color: white;
	cursor: pointer;

}

li{
	border: 0px solid blue;
	text-decoration: none;

}


.header ul li:hover{
	background-color: white;
	color: black;
}

.header ul li:visited{
	background-color: yellow;
}

.header ul li:active{
	background-color: white;
	color: red;
}

.emg{
	margin-right: 3px;;
	margin-top: 32px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: rgb(255, 70, 70);
	color: black;
	border: 1px solid red;
	border-radius: 10px;;
	font-size: 20px;
	float: right;
}

.emg:hover{
	background-color: white;
	color: blue;
	border: 1px solid white;
}

.emg:active{
	background-color:green;
	color: white;
	border: 1px solid green;
}

#home{
	display: flex;
	flex-direction: column;
	padding: 10px 200px;
	justify-content: center;
	align-items: center;

}

#home p{
	font-size: 20px;
    color: darkred;
}


.header{
	font-size: 35px;
	display: center;
	padding-left: 480px; 
	padding-bottom: 20px;
    color: navy;
}

.btn{
	border: 2px solid black;
	padding: 5px 8px;
	margin-right: 80px;
	margin-top: 10px;
	background-color: aqua;
	color: black;
	cursor: pointer;
	font-style: italic;
    font-size: 18px;
	text-decoration: none;
	border-radius: 15px;
}
.btn:hover{
    background-color: white;
    color: blue;
}

.table{
    float: right;
    margin: 0 20px;
    padding-right: 50px;
    padding-top: 20px;
}

.table table th{
    font-family: Century Gothic;
    border: 2px solid black;
    margin: 20px;
    padding: 5px;
    color: #191eb9;
    font-style: italic;
     border-radius: 5px;

}


.table table td{
    font-family: Century Gothic;
    border: 2px solid black;
    color: #191eb9;
    border-radius: 4px;
}


.graph{
	padding-top: 20px;
	width: 500px;
	padding-left: 100px;
}

.title{
	padding-left: 430px;
	padding-top: 30px;
	font-size: 50px;
	padding-bottom: 20px;
}

.img{
	padding-left: 320px;
    padding-bottom: 20px;

}

.footer{
	background-color: black;
	height: 130px;
	border-radius: 00px;
	z-index: -1;
	opacity: 0.7;
}

.footer p{
	color: white;
	padding-left: 600px;
	font-size: 30px;
	padding-top: 10px;
	
}

 .footer ul{
	float: right;
	font-size: 20px;
	overflow: auto;
	display: flex;
     margin-top: 50px;
     

}


 .footer ul,li{
	text-decoration: none;
	display: inline-block; 
	padding: 4px 18px;
	border-radius: 20px;
	color: white;
	cursor: pointer;
     padding-top: 0px;
    

}


.footer ul li:hover{
	background-color: white;
	color: black;
}

.footer ul li:visited{
	background-color: yellow;
}

.footer ul li:active{
	background-color: white;
	color: red;
}

.icon{
    float: left;
    
}

.icon ul{
    margin-top: 30px;
}

.icon ul a{
    padding-left: 10px;
}