*{
	margin: 0px;
	padding: 0px;
}

body{
	background: url("background.jpg");
	background-position: center;
	background-size:  100%;
	background-origin: 100%;
	margin: 0px;
	padding-top: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 0px;
}


.emg{
	margin-right: 3px;;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: red;
	color: black;
	border: 1px solid red;
	border-radius: 10px;;
	font-size: 20px;
	
}

.emg:hover{
	background-color: white;
	color: blue;
	border: 1px solid white;
}

.emg:active{
	background-color:green;
	color: white;
	border: 1px solid green;
}

.heading{
	padding-left: 500px;
	cursor: pointer;
}


.heading h1{
	font-size: 55px;
	color: aqua;
	font-style: italic;
}


.heading h2{
	font-size: 40px;
	color: lightblue;
	font-style: italic;
	padding-left: 40px;;
}


.name{
	line-height: 10px;
    padding-top: 50px;
	margin-left: 440px;
}


.name input{
	width: 452px;
    padding: 12px 11px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    border-bottom: 2px solid blue;
    border-right: 1.5px solid blue;
    letter-spacing: 1px;
}

.complain{
	margin-left: 440px;
}

.complain input{
	border-radius: 10px;
	margin-top: 20px;
	padding-bottom: 70px;
	padding-right: 70px;
	padding-left: 140px;
	padding-top: 70px;
	font-size: 20px;
	font-weight: 10px;
	border: white;
	border-bottom: 2px solid blue;
	border-right: 1.7px solid blue;
}


.btn{
	padding-top: 7px;
	padding-bottom: 7px;
	width: 250px;
	padding-left: 45px;
	padding-right: 45PX;
	margin-top: 20px;
	margin-left: 530px;
	background-color: blue;
	color: yellow;
	cursor: pointer;
	text-decoration: none;
	border-radius: 15px;
	font-size: 25px;
	border-bottom: 2px solid blue;
	border-right: 1.7px solid blue;
	font-style: italic;
}

.btn:active{
	background-color:aqua;
	color: blue;
}

.account{
	margin-left: 490px;
	margin-top: 10px;
    padding-left: 20px;
    padding-top: 5px;
	padding-bottom: 5px;
	border: 0px solid;
	border-radius: 10px;
    font-size: 20px;
	width: 320px;
}

.account:active{
	color: blue;
}

.link{
    float: right;
    margin-left: 400px;
    padding-top: 38px;
    padding-right: 30px;
    
}

.link li{
    color: white;
    font-size: 20px;
    display: flex;
    display: inline-block;
    border: 1px;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 2px;
    padding-bottom: 3px;
}
.link li:hover{
    background-color: white;
    color: blue;
}