*{
    margin: 0px;
    padding: 0px;
}

body{
     background: url("background.jpg");
     background-position: center;
     height: 100%;
     background-origin: 100%;
     margin: 0px;
     padding-top: 0px;
     background-repeat: no-repeat;
     background-size: cover;
     
}

.emg{
	margin-right: 3px;;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: rgb(255, 70, 70);
	color: black;
	border: 1px solid red;
	border-radius: 10px;;
	font-size: 20px;
	
}

.emg:hover{
	background-color: white;
	color: blue;
	border: 1px solid white;
}

.emg:active{
	background-color:green;
	color: white;
	border: 1px solid green;
}

.contact h1{
    font-size: 50px;
    padding-left: 500px;
    padding-top: 00px;
    padding-bottom: 10px;
    color: aqua;
    font-style: italic;
    cursor: pointer;
}

.contact h2{
    font-size: 40px;
    padding-left: 550px;
    padding-top: 5px;
    padding-bottom: 50px;
    color: lightblue;
    font-style: italic;
    cursor: pointer;
}

.header1{
    float: right;
    margin-top: 10px;
    border: 0px solid white;
    width: 320PX;
    margin-right: 480PX;
    border-radius: 15px;
    
}

.header1 input{
    width: 400px;
    padding: 12px 11px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    border-bottom: 2px solid blue;
    border-right: 1.5px solid blue;
    letter-spacing: 1px;
    
}


.btn{
    color: yellow;
    font-style: italic;
    background-color: blue;
    width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 3px;
    border-radius: 10px;
    font-size: 20px;
    border-bottom: 2px solid blue;
    border-right: 1.5px solid blue;
    margin-left: 80px;
    margin-top: 15px;
    cursor: pointer;
}

.btn:hover{
    background-color: aqua;
    color: black;
}


.btn:active{
	background-color: white;
	color: blue;
}

.header2{
    border: 0px solid black;
    width: 400px;
    margin-left: 30px;
}

.header2 h2{
    color: blue;
    padding-top: 20px;
    font-style: italic;
    font-size: 25px;
}

.header2 p{
    color: white;
    padding-top: 5px;
}

.link{
    float: right;
    margin-left: 400px;
    padding-top: 105px;
    padding-right: 30px;
    
}

.link li{
    color: white;
    font-size: 20px;
    display: flex;
    display: inline-block;
    border: 1px;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.link li:hover{
    background-color: white;
    color: blue;
}