 *{
     margin: 0px;
     padding: 0px;
     
 }
 body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url("background.jpg");
    background-position: center;
    background-size:  100%;
    background-origin: 100%;
   
    background-repeat: no-repeat;
    background-size: cover;
    height: 10%;
   }
   html {
    box-sizing: border-box;
    
  }

  .emg{
	margin-left: 2px;;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: red;
	color: black;
	border: 1px solid red;
	border-radius: 10px;;
	font-size: 20px;
	
}

.emg:hover{
	background-color: white;
	color: blue;
	border: 1px solid white;
}

.emg:active{
	background-color:green;
	color: white;
	border: 1px solid green;
}


.container {
    padding: 5px;
    width: 35%;
   margin-left: 35%;
   }


  .container input{
    width: 80%;
    padding: 12px 11px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    border-bottom: 2px solid blue;
    border-right: 1.5px solid blue;
}
     
       .box {
           margin-right: 20px;;
    padding-bottom: 100px;
    text-align: center;  
  }
   .box h1 {
    font-size: 50px;
    font-style: italic;
    color: aqua;
  }

  .box h2 {
      padding-top: 20px;;
    font-size: 40px;
    font-style: italic;
    color: lightblue;
  }
  
  .btn{
    width: 200px;
    background-color: blue;
    border-radius: 10px;
    padding-top: 5px;
    padding-left:43px;
    padding-right: 50px;
    padding-bottom: 3px;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 2px solid blue;
    border-right: 1.5px solid blue;
    color: yellow;
    font-style: italic;
    margin-left: 570px;
}


.btn:hover{
    background-color: aqua;
    color: black;
}


.btn:active{
	background-color: white;
	color:  blue;
}

.link{
    float: right;
    padding-top: 150px;
    padding-right: 30px;
}


.link li{
    color: white;
    font-size: 20px;
    display: flex;
    display: inline-block;
    border: 1px;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.link li:hover{
    background-color: white;
    color: blue;
}
