*{
  margin: 0px;
  padding: 0px;
}

body{
     background: url("background.jpg");
     background-position: center;
     background-size:  100%;
     background-origin: 100%;
     margin: 0px;
     padding-top: 0px;
     background-repeat: no-repeat;
     background-size: cover;
     height: 0px;
}


.emg{
	margin-left: 2px;;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: red;
	color: black;
	border: 1px solid red;
	border-radius: 10px;;
	font-size: 20px;
	
}

.emg:hover{
	background-color: white;
	color: blue;
	border: 1px solid white;
}

.emg:active{
	background-color:green;
	color: white;
	border: 1px solid green;
}


.heading{
    margin-left: 560px;
}

.heading h1{
    color: aqua;
    font-size: 55px;
    font-style: italic;
}

.heading h2{
    color: lightblue;
    font-size: 45px;
    padding-left: 120px;
    font-style: italic;
}

.container{
    padding-left: 480px;
    margin-top: 100px;
    color: khaki;
    font-size: 20px;
    
}

.container input{
    width: 300px;
    padding: 12px 11px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    border-bottom: 2px solid blue;
    border-right: 1.5px solid blue;
    letter-spacing: 1px;
}

.btn{
    
    color: yellow;
    font-style: italic;
    background-color: blue;
    width: 200px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 4px;
    padding-bottom: 3px;
    border-radius: 10px;
    font-size: 20px;
    border-bottom: 2px solid blue;
    border-right: 1.5px solid blue;
    margin-left: 620px;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: aqua;
    color: black;
}


.btn:active{
	background-color: white;
	color: blue;
}


.header p{
    color: yellow;
    font-size: 18px;
    padding-left: 750px;
    padding-top: 20px;
}


.header h5{
    padding-left: 620px;
    padding-top: 20px;
    font-size: 18px;
    color: yellow;
}


.link{
    float: right;
    padding-top: 123px;
    padding-right: 30px;
}


.link li{
    color: white;
    font-size: 20px;
    display: flex;
    display: inline-block;
    border: 1px;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.link li:hover{
    background-color: white;
    color: blue;
}

.link li:active{
    color: red;
}